#calender {
    width: 80%;
    margin-left: 10%;
    margin-top: 60px;
  }
  .calendarTable {
    width: 100%;
    border: 1px solid black;
  }
  .calendarTable thead tr th{
    background: gray;
    border-bottom: 1px solid black;
    padding: 20px 0px;
    color: white;
  }
  .calendarTable thead tr td {
    text-align: center;
    padding: 20px 0;
    border: 1px solid white;
    cursor: pointer;
    background: grey;
  }
  .calendarBtns{
    padding: 10px 0;
    width: 100%;
  }
  .calendarBtns button {
    padding: 6px 12px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;

  }
  .calenderDiv {
    display: none;
  }
  #calenderTable_1 {
    display: block;
  }