<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>TODO list</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="todo.css">
    </link>
</head>

<body>
    <h1><span class="styling">TODO</span>List</h1>
    <div class="input_div">
        <input class="input"
               type="text"
               placeholder="Add a ToDo">
        <button class="addButton"><i class="fa fa-plus">+</i></button>
    </div>

    <div class="container">
        <!--
        <div class="item">
          
            <input type="text" class="item_input" value="Sport" disabled>
            <button class="editButton">EDIT</button>
            <button class="removeButton">REMOVE</button>
    
        </div>
    -->
    </div>
    <script src="todo.js"></script>
</body>

</html>